<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="title">
        <h1>Lock Keeper</h1>    
    </div>

    <div class="container">
        <div class="card-container">
            <header>
                Política de Privacidad
            </header>
            <p>
                Fecha de última actualización: 25/10/2024
                <br>

Bienvenido a Lock Keeper. En Lock Keeper, valoramos y protegemos la privacidad de tus datos. Esta política de privacidad explica cómo recopilamos, usamos y protegemos tu información personal cuando utilizas nuestra aplicación de gestión de contraseñas. Al usar Lock Keeper, aceptas las prácticas descritas en esta política.
<br>
1. Información que recopilamos
Información personal: Para registrar una cuenta en Lock Keeper, podríamos solicitar tu nombre, dirección de correo electrónico y otra información de identificación.
<br>
Información de uso: Recopilamos datos sobre cómo interactúas con nuestra aplicación, incluyendo detalles sobre el dispositivo, sistema operativo, dirección IP, y estadísticas de uso de la app. Esta información es anónima y nos ayuda a mejorar el servicio.
<br>
2. Uso de la información
Utilizamos la información que recopilamos para:
<br>
Proporcionar y optimizar el servicio de gestión de contraseñas.
Enviarte notificaciones sobre actualizaciones, funciones o cambios importantes en la política de privacidad.
Asegurar la seguridad y autenticación de tu cuenta.
<br>
3. Seguridad de la información
En Lock Keeper, empleamos medidas de seguridad avanzadas para proteger tu información contra accesos no autorizados, alteraciones, divulgación o destrucción. Todas las contraseñas almacenadas están encriptadas y no pueden ser leídas ni siquiera por nuestro equipo.
<br>
4. Compartir información con terceros
No compartimos, vendemos ni alquilamos tu información personal a terceros, salvo en los siguientes casos:
<br>
Cumplir con obligaciones legales o requerimientos gubernamentales.
Proteger nuestros derechos o la seguridad de nuestros usuarios.
Facilitar el servicio en nombre de Lock Keeper, bajo acuerdos de confidencialidad.
<br>
5. Retención de datos
Conservamos tu información personal solo mientras sea necesario para cumplir con los fines descritos en esta política o según lo exija la ley. Puedes solicitar la eliminación de tu cuenta y datos en cualquier momento.
<br>
6. Tus derechos
Tienes derecho a acceder, corregir o eliminar tus datos personales almacenados en Lock Keeper. Para ejercer estos derechos, puedes contactarnos a través de lockkeeper.
<br>
7. Cambios en esta política de privacidad
Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio importante se notificará a través de la aplicación o por correo electrónico.
            </p>

        </div>
    </div>

</body>
</html>
