<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="title">
        <h1>Lock Keeper</h1>    
    </div>

    <div class="container">
        <div class="card-container">
            <header>
                Condiciones de Servicio
            </header>
            <p>
                Fecha de última actualización: 25/10/2024
                <br>                
                
                Bienvenido a Lock Keeper. Al utilizar nuestra aplicación de gestión de contraseñas, aceptas cumplir con las siguientes condiciones de servicio. Si no estás de acuerdo con estas condiciones, no debes utilizar la aplicación.
                <br>      
                1. Aceptación de los términos
                Al acceder y utilizar Lock Keeper, aceptas que has leído, entendido y aceptado estas condiciones de servicio. Te recomendamos revisar regularmente estas condiciones, ya que pueden ser actualizadas.
                <br>      
                2. Uso de la aplicación
                Lock Keeper te permite gestionar tus contraseñas de manera segura. Te comprometes a usar la aplicación de forma responsable y a no utilizarla para actividades ilegales o no autorizadas.
                <br>      
                3. Responsabilidad del usuario
                Eres responsable de mantener la confidencialidad de tus credenciales de acceso y de todas las actividades realizadas en tu cuenta. Si sospechas que tu cuenta ha sido comprometida, debes notificarnos de inmediato.
                <br>      
                4. Propiedad intelectual
                Todos los derechos de propiedad intelectual relacionados con Lock Keeper, incluyendo software, contenido y gráficos, son propiedad de Lock Keeper o de sus licenciantes. No se permite la reproducción, distribución o modificación de estos sin nuestro consentimiento previo por escrito.
                <br>      
                5. Modificaciones del servicio
                Lock Keeper se reserva el derecho de modificar, suspender o interrumpir el servicio en cualquier momento, sin previo aviso. También podemos actualizar estas condiciones de servicio y te notificaremos sobre cambios significativos.
                <br>      
                6. Limitación de responsabilidad
                En la medida permitida por la ley, Lock Keeper no será responsable de ningún daño indirecto, incidental o consecuente que pueda surgir del uso o la imposibilidad de uso de la aplicación.
                <br>      
                7. Ley aplicable
                Estas condiciones de servicio se rigen por las leyes del [tu país/estado]. Cualquier disputa que surja en relación con estas condiciones será resuelta en los tribunales competentes de Nuevo León
                <br>      
                8. Contacto
                Si tienes preguntas sobre estas condiciones de servicio, puedes contactarnos a través de lockkeeper.
            </p>

        </div>
    </div>

</body>
</html>
